

.calendario-mes {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}


.calendario-mes th {
    background-color: #8BC34A;
    color: white;
    font-weight: bold;
    padding: 5px;
}


.calendario-mes td {
    border: 1px solid #ddd;
    padding: 8px;
    height: 25px;
}


.calendario-mes td:hover {
    background-color: #e40e0e;
}

formulario .entradas{
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;

}