
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}


.mi-cabecera {
  background-color: #f0f0f0;
  padding: 20px;
  border-bottom: 2px solid #ccc;
  text-align: center;
}

.mi-cabecera h1 {
  color: #333;
  margin: 0;
}

.mi-cabecera h2 {
  color: #666;
  margin: 5px 0 10px 0;
  font-size: 1.2em;
  border-bottom: none; /
}

.mi-cabecera p {
  color: #999;
  margin: 0;
  font-size: 0.8em;
}


.main-content {
  padding: 20px;
}

.game-simulation {
  border: 1px dashed #ccc;
  padding: 15px;
  background-color: #fff;
  max-width: 400px;
  margin: 20px auto;
}
