body {
  display: flex;
  justify-content: center;
}

.celda {
  border: 1px solid blue;
}

.form-content {
  justify-content: center;
  display: flex;
}

.tabla-content {
  display: flex;
  justify-content: center;
}
main {
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
