




body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f4f4;
  color: #333;
  padding: 2rem;
}
main{
  display: flex;
justify-content: center;
}


header {
  text-align: center;
 
}

header h1 {
  font-size: 2rem;
  color: #0074D9;
}


form {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
 gap: 1.5rem;  /*espacio entre los elementos cuadno tienes flex o grid*/
}


form section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}


label {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input[type="number"],
input[type="radio"],
input[type="checkbox"] {
  padding: 0.4rem;
  font-size: 1rem;
}


button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #0074D9;
  color: white;
  cursor: pointer;

}

button:hover {
  background-color: #00a339;
}

button.barajear {
  background-color: #2ECC40;
}

button.barajear:hover {
  background-color: #2865a7;
}


main > section {
  background: #fff;
  border-radius: 6px;
}

/* Mensaje de error */
.error {
  color: #FF4136;
  font-weight: bold;
  padding: 0.5rem;
  background-color: #ffe6e6;
  border-left: 4px solid #FF4136;
  margin-top: 1rem;
}
